@import "./normalize";
@import "./helpers/gridSystem";
@import "./helpers/boxSizing";
@import "./animations/progress";
@import "./components/nav";
@import "./components/form";
@import "./components/card";
@import "./components/heading";
@import "./components/footer";

body {
  scroll-behavior: smooth;
}

.container-fluid {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main {
  margin-top: 2rem;
}

a {
  color: rgb(118, 65, 170);
}

.wrapper-search {
  color: white;
  padding: 3rem 0;

  h2 {
    margin-bottom: 3rem;
    text-align: center;
  }

  form {
    width: 100%;

    .form-group {
      width: 60%;
      margin: 0 auto;

      input {
        width: 85%;
      }
    }
  }
}