.footer, footer.footer, div.footer {
  min-height: 20vh;
  padding: 1rem 0;
  background-color: rebeccapurple;
  color: white;
}

.footer, footer.footer, div.footer .footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}